.brand-bg {
    background-color: #5f71e4 !important;
}

.brand-color {
    color: #5f71e4 !important;
}

#users-top-navbar {
    position: fixed;
    top: 0;
    left: 62px;
    z-index: 200;
    width: calc(100% - 62px);
    @media (max-width: 1199px) {
        left: 0;
        width: 100%;
    }
    
    .btn-rounded {
        border-radius: 20px;
    }
}

.g-sidenav-show {
    #users-top-navbar {
        width: calc(100% - 250px);
        left: 250px;
        
        @media (max-width: 1199px) {
            left: 0;
            width: 100%;
        }
    }
}

#sidenav-main {
    .sidenav-header {
        .navbar-brand {
            padding: 0 0 0 0.5rem;
            img {
                max-height: 3rem;
            }
        }
    }
    
    .nav-link[data-toggle="collapse"][aria-expanded="true"]:after {
        color: #3baf85 !important;
    }
}
