[v-cloak] * {
    display: none;
}

.main-content {
    width: calc(100% - 62px);
    margin-left: 62px;
    margin-top: 77px;
    height: calc(100vh - 77px);
    
    > .container-fluid {
        min-height: calc(100vh - 210px);
    }
    
    @media (max-width: 1199px) {
        margin-left: 0;
        width: 100%;
    }
    
    &#bar-list-panel {
        .table-responsive {
            min-height: 400px;
        }
    }
    
    .cursor-pointer {
        cursor: pointer;
    }
    
    &#bar-edit-page {
        .card {
            .card-header {
                .form-row {
                    .card-title {
                        display: flex;
                        align-items: center;
                        .help-icon {
                            margin-left: 0.25rem;
                            margin-top: -3px;
                        }
                    }
                    
                    .col {
                        .no-hover-transform {
                            &:hover {
                                transform: none !important;
                                color: #909090;
                            }
                        }
                    }
                }
            }
            .card-body {
                .track-link-sept {
                    &:before {
                        content: "/";
                        position: absolute;
                        top: 11px;
                        left: -3px;
                        font-size: 1rem;
                        color: #8898aa;
                    }
                }
                
                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    font-size: 0.875rem;
                    padding-top: 1px;
                    color: #8898aa;
                }
    
                .no-hover-transform {
                    &:hover {
                        transform: none !important;
                        color: #909090;
                    }
                }
            }
            
            .division-card-header {
                border-radius: calc(0.375rem - 1px);
            }
            
            .tags-area {
                border: 1px solid #dee2e6;
                border-radius: 4px;
                width: 100%;
                color: #8898aa;
                padding: 0.5rem 0.2rem;
                font-size: 0.875rem;
            }
        }
        
        .select2-container .select2-selection--single:focus, .select2-container--default.select2-container--focus .select2-selection--multiple:focus, .select2-container--default .select2-selection--multiple:focus, .select2-container--default .select2-search--dropdown .select2-search__field:focus {
            border-color: #3baf85;
        }
    
        .custom-toggle-light input:checked + .custom-toggle-slider {
            border-color: #3baf85;
            &:before {
                background: #3baf85;
            }
            &:after {
                color: #3baf85;
            }
        }
    
        .was-validated .form-control:valid, .form-control.is-valid, .was-validated .custom-select:valid, .custom-select.is-valid {
            border-color: #dee2e6 !important;
        }
        
        .ql-editor {
            min-height: 45px;
            overflow: hidden;
            padding: 10px;
            &.ql-blank::before {
                color: rgba(195, 157, 157, 0.6);
                top: 0.95rem;
            }
        }
    }
    
    .btn-icon-only.help-icon, .btn.btn-icon-only {
        width: 1rem;
        height: 1rem;
        line-height: 1.5;
        cursor: pointer;
    }
    
    .btn-icon-only.help-icon {
        color: #969696;
        font-size: 0.85rem;
        
        &:hover {
            color: #555;
        }
    }
    
    .btn.btn-icon-only {
        font-size: 0.675rem;
    }
    
    .no-shadow-box {
        &:hover, &:focus {
            box-shadow: none !important;
        }
    }
    
    .was-validated {
        .form-control:invalid ~ .input-group-append {
            .input-group-text {
                border-color: #fb6340;
            }
        }
        
        .form-control:valid ~ .input-group-append {
            .input-group-text {
                border-color: #2dce89;
            }
        }
    }
    
    &#dashboard-panel {
        > .container-fluid {
            min-height: calc(100vh - 370px);
        }
    }
    
    .show-loading {
        opacity: 0.3;
        background-color: #737373;
        z-index: 1090;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
    }
}

body.trackers-edit-page {
    .tooltip-inner {
        border: 2px solid #737373;
        background: #e4e4e4;
        font-size: 0.85rem;
        color: #000;
    }
    
    .tooltip .arrow {
        &:before {
            border-top-color: #737373;;
        }
    }
    
    .tooltip.show {
        opacity: 1;
    }
    
    .innertooltip {
        float: right;
        padding: 0 12px 0 0;
    }
}


#footer-main {
    width: 100%;
}

.g-sidenav-show {
    .main-content {
        width: calc(100% - 250px);
        margin-left: 250px;
        
        @media (max-width: 1199px) {
            margin-left: 0;
            width: 100%;
        }
    }
    
    #footer-main {
        width: 100%;
    }
}
