.w-1 {
    width: 1px !important;
}

.form-control {
    &:focus, &:active, &:hover {
        box-shadow: none !important;
        outline: 0 !important;
    }
}

.btn, button {
    &:active, &:focus {
        outline: 0;
        box-shadow: none !important;
    }
}

.w-45 {
    width: 45% !important;
}

.w-48 {
    width: 48.3% !important;
}

.w-80 {
    width: 80% !important;
}

.bg-cp {
    background-color: #3baf85 !important;
}

.bg-gradient-cp {
    background: linear-gradient(87deg, #3baf85 0, #369f78 100%) !important;
}

.bg-dark-cp {
    background: #0b4c2c !important;
}

.bg-dark-gradient-cp {
    background: linear-gradient(87deg, #0b4c2c 0, #0d5a38 100%) !important;
}

.fill-auth {
    fill: #0b4c2c;
}

.text-cp {
    color: #3baf85 !important;
}

.text-dark-cp {
    color: #0a4c2c !important;
}

.card-header.login-logo {
    padding-top: 4.5rem;
}
